.item1 {
  font-size: 36px;
}

.item2 {
  width: 70%;
  height: 100px;
  background: darkblue;
}

.item3 {
  width: 50%;
  margin: 70px 0px -90px auto;
}

.item3 img {
  width: 100%;
}

.title {
  font-size: 18px;
}

.nav {
  list-style: none;
  margin: 0px 0px 0px auto;
}

.nav li {
  display: inline-block;
  width: 100px;
}

.nav li a {
  text-decoration: none;
}

.top_menu {
  display: flex;
  margin: 20px 20px;
  color: rgb(31, 31, 85);
}
